.panel.panel-default
  .panel-heading
    .pull-right{ style: 'margin-top: -5px;'}= render 'books/access', book: book
    %h1.panel-title
      Book: #{book.title}

  .panel-body
    :markdown
      #{book.description}

  .panel-footer
    = link_to 'Back to book list', books_path, class: 'btn btn-default btn-block'
    - if can? :manage, book
      = link_to edit_book_path(book), class: 'btn btn-primary btn-block' do
        Edit book
    - if @chapter || book.chapters.any?
      = link_to edit_chapter_path(@chapter || book.chapters.first), class: 'btn btn-info btn-block' do
        Edit Chapter
    = link_to 'Delete book', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block'
