.thumbnail{ style: 'min-height: 300px;' }
  = image_tag attachment_url(book.chapters.first.try(:pages).try(:first), :image, :fill, 400, 300, format: "jpg")
  .caption.inline
    .pull-right
      Updated #{time_ago_in_words book.updated_at} ago
      - if can? :manage, book
        .badge
          = book.public? ? 'Public' : 'Private'
    %h3= book.title
    :markdown
      #{book.description}
