= simple_form_for(@book) do |f|
  = f.input :title
  = f.input :description
  = f.input :public

  .footer
    = link_to manage_book_path(@book), class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel
    .pull-right
      = f.button :submit, class: 'btn btn-primary'
