= search_form_for @q do |f|
  .row
    .col-sm-11
      = f.input :title_or_description_cont, label: false, placeholder: 'Search books...'
    .col-sm-1
      = f.button :submit, 'Search', class: 'btn btn-primary btn-block'


.grid.books
  .grid-sizer
  - @books.each do |book|
    = link_to book, class: 'thumbnail grid-item' do
      = image_tag attachment_url(book.pages.first, :image, :fill, 600, 200, format: "jpg")
      .caption
        .pull-right
          Updated #{time_ago_in_words book.updated_at} ago
        %h3= book.title
        = book.description
