= render Book.new

= search_form_for @q do |f|
  .row
    .col-sm-11
      = f.input :title_or_description_cont, label: false, placeholder: 'Search books...'
    .col-sm-1
      = f.button :submit, 'Search', class: 'btn btn-primary btn-block'


.grid.books
  .grid-sizer
  - @books.each do |book|
    = link_to book, class: 'grid-item' do
      = render 'card', book: book
